.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  background-color: #c0c0c0;
}

.dialogs-items {
  padding: 10px;
}

.d-item.active {
  color: #d4af37;
}

.dialogs-message {
  padding: 10px;
}
