.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
    background-color: lightslategray;
}
.dialogs-items{
    padding: 10px;
}
.d-item{

}

.d-item.active{
    color: gold;
}

.dialogs-message{
    padding: 10px;
}
